::-webkit-scrollbar{
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #007bff 0%, #007bff 100%);
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1) grayscale(1) brightness(10);
  }
  .carousel-inner .row {
    position: relative;
  }
  
  .carousel-control-prev, .carousel-control-next {
    width: auto;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
  
  .carousel-control-prev {
    left: 15px;
  }
  
  .carousel-control-next {
    right: 15px;
  }
  .shopy-bg-info{
    background-color: #dce7f3;
  }
  .categories img{
    width: 100px;
  }
  .shopy-btn{
    background-image: linear-gradient(to bottom, #007bff 0%, #007bff 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
  }
  .hero-m{
    margin-top: 70px;
  }
  
  .navbar-logo {
    width: 90px;
    height: 50px;
  }
  

 /*
  .bg-watch {
    background-color: #bfd2e7; 
  }
  
  .bg-bag {
    background-color: #f0b3a1;
  }
  
  .bg-shoes {
    background-color: #f0b3a1;
  }
*/
  .card {
    transition: transform 0.3s ease-in-out;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}


.card:hover {
    transform: translateY(-10px);
}
  
  @media screen and (max-width: 768px) {
    .shopy-btn {
      padding: 6px 20px;
      font-size: 13px;
      width: 100px;
      height: 30px;
    }
    .card-img-top {
        height: 150px;
    }
  }